<div class="well">
  <img src={{model.image}}>
</div>
<p>More info about this story/story.hbs</p>

<h1>{{model.title}}</h1>
<p>{{model.content}}</p>

{{update-story story=model update="update"}}

{{story-detail story=model destroyStory="destroyStory"}}
